* {
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
}

header {
  text-align: center;
  padding: 30px;
}

input:invalid {
  border: red solid 3px;
}